<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span jhiTranslate="myApp.usuario.detail.title">Usuario</span> {{usuario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myApp.usuario.codigo">Codigo</span></dt>
                <dd>
                    <span>{{usuario.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="myApp.usuario.nome">Nome</span></dt>
                <dd>
                    <span>{{usuario.nome}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
