<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-disciplina-heading" jhiTranslate="myApp.disciplina.home.createOrEditLabel">Create or edit a Disciplina</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!disciplina.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="disciplina.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myApp.disciplina.codigoDisciplina" for="field_codigoDisciplina">Codigo Disciplina</label>
                    <input type="number" class="form-control" name="codigoDisciplina" id="field_codigoDisciplina"
                        [(ngModel)]="disciplina.codigoDisciplina" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myApp.disciplina.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="disciplina.nome" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myApp.disciplina.professor" for="field_professor">Professor</label>
                    <select class="form-control" id="field_professor" name="professor" [(ngModel)]="disciplina.professor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="professorOption.id === disciplina.professor?.id ? disciplina.professor : professorOption" *ngFor="let professorOption of professors; trackBy: trackProfessorById">{{professorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myApp.disciplina.atividade" for="field_atividade">Atividade</label>
                    <select class="form-control" id="field_atividade" name="atividade" [(ngModel)]="disciplina.atividade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="atividadeOption.id === disciplina.atividade?.id ? disciplina.atividade : atividadeOption" *ngFor="let atividadeOption of atividades; trackBy: trackAtividadeById">{{atividadeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
