<div>
    <h2 id="page-heading">
        <span jhiTranslate="myApp.permissao.home.title">Permissaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-permissao" [routerLink]="['/permissao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myApp.permissao.home.createLabel">
            Create new Permissao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="permissaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myApp.permissao.codigopERMISSAO">Codigop ERMISSAO</span></th>
            <th><span jhiTranslate="myApp.permissao.usuario">Usuario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let permissao of permissaos ;trackBy: trackId">
                <td><a [routerLink]="['/permissao', permissao.id, 'view' ]">{{permissao.id}}</a></td>
                <td>{{permissao.codigopERMISSAO}}</td>
                <td>
                    <div *ngIf="permissao.usuario">
                        <a [routerLink]="['../usuario', permissao.usuario?.id, 'view' ]" >{{permissao.usuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/permissao', permissao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/permissao', permissao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'permissao/'+ permissao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
