<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="permissao">
            <h2><span jhiTranslate="myApp.permissao.detail.title">Permissao</span> {{permissao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myApp.permissao.codigopERMISSAO">Codigop ERMISSAO</span></dt>
                <dd>
                    <span>{{permissao.codigopERMISSAO}}</span>
                </dd>
                <dt><span jhiTranslate="myApp.permissao.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="permissao.usuario">
                        <a [routerLink]="['/usuario', permissao.usuario?.id, 'view']">{{permissao.usuario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/permissao', permissao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
